
.arrow-left {
    background: url(".././icons/Arrow.svg") no-repeat center;
    width: 24px;
    height: 24px;
}
.arrow-right {
    background: url(".././icons/Arrow.svg") no-repeat center;
    width: 24px;
    height: 24px;
    transform: scaleX(-1);
}

.date {
    background: var(--Grey-100, #F5F5F5);
    border-radius: 50px;
    width: 124px;
    height: 32px;
    padding: 8px 12px;

}