
.background-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.form-container {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background: var(--Grey-50, #FAFAFA);
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 15px;
    width: 100%;
}
.form-container p {
    font-size: 12px;
}

.form-inputs-transaction {
    width: 328px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-add {
    border-radius: 50px;
    background: var(--Blue-500, #007BEF);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20), 0px 3px 3px 0px rgba(0, 0, 0, 0.12), 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
    width: 70px;
    height: 38px;
}

.form-container .form-inputs {
    border-radius: 4px;
    border: 1px solid var(--Grey-500, #9E9E9E);
    width: 346px;
    height: 37px;
}